<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/result' method='post' style='display: flex; align-items: center; justify-content: center; flex-direction: column;'>
        {% csrf_token %}
        Your Name: <input type='text' name='name'>
        Dojo Location: 
        <select name='location'>
            <option value='San Jose'>San Jose</option>
            <option value='Mars'>Mars</option>
            <option value='Online'>Online</option>
        </select>
        Favorite Language: 
        <select name='language'>
            <option value='Python'>Python</option>
            <option value='Java'>Java</option>
            <option value='C#'>C#</option>
        </select>
        Comment (Optional): 
        <textarea name="comment"></textarea>
        <button type='submit'>Submit Survey</button>
    </form>
</body>
</html>