<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Recipe Information</title>
    <style>
        body {
            background-color: darkgray;
        }
    </style>
</head>
<body>
    <a href="/main/{{user.id}}" class="btn btn-info" >Home</a>
    <a href="/logout">Logout</a>
    <div class="d-flex justify-content-around flex-wrap p-5">

            <div class="card col-3 bg-dark text-light">
                <div class="card-body">
                    <h2 class="card-title text-primary">{{ recipe['name'] }}</h2>

                    <h3 class="card-text">Description:</h3>
                    <p>{{ recipe['desciption'] }}</p>
                    <h3 class="card-text">Instructions:</h3>
                    <p>{{recipe['instructions']}}</p>
                </div>
                <div class="card-footer">
                    <p class="card-subtitle">Date Made: {{ recipe['created_at'].strftime("%B %d, %Y  at %H:%M:%S") }}</p>
                </div>
                <a href="/main/{{user.id}}">Back to Recipe List</a>
                
                <a href="/destroy/{{recipe['id']}}">Delete</a>
                <a href="/recipes/edit/{{recipe['id']}}">Edit</a>
            </div>

    </div>
</body>
</html>