<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

</style>
</head>
<body>
    {% if messages %}
    <ul class="messages">    
            {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
        {% endif %}
    <h1>Register</h1>


    <form action="/register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="password" name="confpassword">
        
        <input type="submit" value="submit">
    </form>

    <h1>Login</h1>

    
    <form action="/login" method="post">
        {% csrf_token %}
        <input type="text" name="email">
        <input type="text" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>