<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
    <div>
        {% for x in users %}
        <p>{{x.first_name}}</p>
        <p>{{x.last_name}}</p>
        <p>{{x.email}}</p>
        <p>{{x.password}}</p>
        {% endfor %}
    </div>
</body>
</html>