<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2>Add an Author</h2>
        <a href="/new_book">Add a Book</a>
        <form action="/process_author" method="post">
            {% csrf_token %}
            <input type="text" name="first_name" />
            <input type="text" name="last_name" />
            <textarea type="text" name="notes"></textarea>
            <input type="submit" value="submit" />
        </form>
        <div>
            {% for x in books %}
            <a href="/view_book/{{x.id}}">{{x.title}}</a>
            {% endfor %}
        </div>
</body>
</html>